@model BeaversHockeyPortal.Models.GameViewModel

@{
    ViewBag.Title = "Games";

    ViewBag.PageHeader = "Game Management";
    ViewBag.PageHeaderDescription = "Here Create new Game and View existing ones";

    ViewBag.BreadCrumbs = new List<BeaversHockeyPortal.Models.BreadcrumbsDescription> {
        new BeaversHockeyPortal.Models.BreadcrumbsDescription {Href  = string.Empty, Name = "Manager Portal" },
        new BeaversHockeyPortal.Models.BreadcrumbsDescription {Href  = string.Empty, Name = "Game", IsActive = true },
    };
}


<div class="form-group">
    @Html.Partial("CreateGame", Model.GameCreateViewModel)
</div>

<div class="list-group">
    @Html.Partial("ListGames", Model.GameListViewModel)
</div>

