@model IEnumerable<BeaversHockeyPortal.Models.ListTeamViewModel>

@{
    ViewBag.Title = "Teams";
}

<div class="row text-primary text-center">
    <h1>Teams</h1>
</div>

@foreach (var team in Model)
{
    <div class="row panel panel-default">
        <div class="panel-heading">@team.Name</div>
        <div class="panel-body text-center img-thumbnail">
            @{string url = "/Images/defaultTeam.png";            }

            @if (!string.IsNullOrEmpty(@team.ImageUrl))
                {
                    url = @team.ImageUrl;
                }
            <img src=@url />
        </div>
        <div class="panel-footer">Manager: @team.ManagerFullName</div>
    </div>
                }
