@{
    ViewBag.Title = "Beavers Hockey Portal";

    ViewBag.PageHeader = "Beavers Hockey Portal";
    ViewBag.PageHeaderDescription = "Welcome to Beavers Hockey Portal";

    ViewBag.BreadCrumbs = new List<BeaversHockeyPortal.Models.BreadcrumbsDescription>();
}

<div class="page-header">
    <h1></h1>
    <p class="text-success"></p>
</div>

@if (!this.User.Identity.IsAuthenticated)
{
    <h1 class="alert alert-danger">Please Log In to see more content</h1>
}